<%- include partials/header.ejs %>

<h1 class="post-h1"><%= title %></h1>

<h5 class="post-h5"> <u>  <%= author %> </u> </h5>

<h4 class="post-h4"> <%= content %> </h4>

<form action="/delete" method="post">
    <button style="margin-top: 10px;" class="btn btn-danger" type="submit" name="dlt" value="<%=id %>">Delete</button>
</form>

<%- include partials/footer.ejs %>